@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore
@inject IConfiguration Config
@inject IJSRuntime JS

@*TODO - Set the value of this to reflect the currently selected value*@

<div class="row">
	<div class="col">
		Searching: @_CancelableSearch?.Searching ShowClass: @_CancelableSearch?.MenuShownClass Options: @Options.Count()
		Value: @Value?.Name [@Value?.ShortDescription]
	</div>
</div>
<div class="row mt-4">
	<div class="col">
	@if(_CancelableSearch != null)
	{
		<div class="input-group">
			@if(Value == null)
			{
				<InputText
					@bind-Value="SearchTerm"
					@oninput="(e) => DoSearch(e.Value?.ToString() ?? string.Empty)"
					@onkeyup=@((e) => KeyUp(e))
					@onfocus=@((e) => _CancelableSearch.Showing = true)
					placeholder="@Placeholder"
					class="form-control"
					data-bs-toggle="dropdown" />
			}
			else
			{
				<div class="form-control form-control-sm my-0 py-0 bg-light">
					<div class="row">
						<div class="col-md-2">
							@Value?.Name
						</div>
					</div>
					<div class="row">
						<div class="col small">
							@Value?.ShortDescription
						</div>
					</div>
				</div>
			}
			<Button Type="ButtonType.Button" Color="ButtonColor.Danger" Outline=true Disabled=@(Value == null) @onclick=ClearValue>Clear</Button>
			<ul class="dropdown-menu dropdown-menu-end" style="width:100%">
				@if(_CancelableSearch.Exception != null)
				{
					<li>
						<span class="dropdown-item-text">
							<Alert Color="AlertColor.Danger">@_CancelableSearch.Exception.Message</Alert>
						</span>
					</li>
				}
				@if(_CancelableSearch.Searching)
				{
					<li>
						<span class="dropdown-item-text">
							<Spinner Type="SpinnerType.Dots" />
						</span>
					</li>
				}
				else
				{
					@if(Options.Count() == 0)
					{
						<li>
						<span class="dropdown-item-text">
							Enter a search term.
						</span>
					</li>
					}
					@foreach(var option in Options.Select((value, i) => new {i, value}))
					{
						<li><a class="dropdown-item" href="#" id="@(Id)-Item@(option.i)" @onclick=@(() => OptionClicked(option.value.Id))>@option.value.Name - @option.value.ShortDescription</a></li>
					}
				}
			</ul>
		</div>
	}
	</div>
</div>


@code
{
	[Parameter]
	[EditorRequired]
	public Noun? Value { get; set; }

	[Parameter]
	public EventCallback<Noun?> ValueChanged { get; set; }

	[Parameter]
	[EditorRequired]
	public string? Id { get; set; }

	[Parameter]
	[EditorRequired]
	public Func<string, Task<IEnumerable<Noun>>> Search { get; set; } = default!;

	[Parameter]
	public string? Placeholder { get; set; } = "Nouns starting with...";

	private string ButtonText =>
		Value != null
			? $"{Value.Name} {Value.ShortDescription}" 
			: string.IsNullOrWhiteSpace(Placeholder)
				? "Nouns that start with..."
				: Placeholder;

	private string SearchTerm { get; set; } = string.Empty;
	private CancelableSearch? _CancelableSearch = default!;

	private IEnumerable<Noun> Options = new List<Noun>();
	
	protected override async Task OnInitializedAsync()
	{
		_CancelableSearch = new CancelableSearch(JS);
		await Task.CompletedTask;
	}

	#region Search
	private class CancelableSearch
	{
		public CancelableSearch(IJSRuntime js)
		{
			JS = js;
		}
		private IJSRuntime JS;
		public Task? Task { get; set; }
		public bool Searching => Task != null && !EolStatuses.Contains(Task!.Status);
		public bool Showing { get; set; } = false;
		public string MenuShownClass => Showing ? "show" : "";
		
		public CancellationTokenSource? TokenSource { get; set; }
		public Exception? Exception;

		public static List<TaskStatus> EolStatuses = new List<TaskStatus> { TaskStatus.RanToCompletion, TaskStatus.Canceled };

		public void CancelSearch()
		{
			if(TokenSource != null)
			{
				var problem = EolStatuses.Any(st => st == Task?.Status);
				if (!problem)
				{
					TokenSource.Cancel();
				}
			}
		}
	}

	private async Task KeyUp(KeyboardEventArgs evt)
	{
		if(!(evt.AltKey || evt.CtrlKey || evt.ShiftKey))
		{
			if(evt.Key == "ArrowDown")
			{
				Console.WriteLine("ArrowDown pressed! TODO: Focus");
				await JS.InvokeVoidAsync("SetFocusToElement", $"{Id}-Item0");
			}
			if(evt.Key == "ArrowUp")
			{
				Console.WriteLine("ArrowUp pressed! TODO: Focus");
				var lastItem = Options.Count() - 1;
				await JS.InvokeVoidAsync("SetFocusToElement", $"{Id}-Item{lastItem}");
			}
		}
		await Task.CompletedTask;
	}

	protected async Task DoSearch(string value)
	{
		Console.WriteLine($"\"{value}\"");
		if(SearchTerm != value)
		{
			// Cancel any other running search
			if(_CancelableSearch != null)
				_CancelableSearch.CancelSearch();
			// Update the value bound to the search input.
			SearchTerm = value;

			// Make a cancelable request to the API and process the response.
			var ts = new CancellationTokenSource();
			_CancelableSearch = new CancelableSearch(JS)
			{
				TokenSource = ts,
				Task = Task.Run(async () =>
				{
					if(string.IsNullOrWhiteSpace(SearchTerm))
					{
						Options = new List<Noun>();
						return;
					}

					// Request has started, show the dropdown-menu
					//_CancelableSearch!.Showing = true;

					// Wait for the user to stop typing before querying DB.
					await Task.Delay(500);

					Console.Write($"\n\tInvoking Search({SearchTerm})... ");
					var results = await Search(SearchTerm);

					// If our Token didn't get canceled query the DB.
					if (ts.Token.IsCancellationRequested == false)
					{
						try
						{
							if(results == null)
							{
								throw new Exception($"No Results for term \"{SearchTerm}\"");
							}

							Console.WriteLine($" got {results.Count()}");
							Options = results;
							_CancelableSearch!.Exception = null;
						}
						catch(Exception ex)
						{
							_CancelableSearch!.Exception = ex;
						}
					}
				}, ts.Token)
			};

			await _CancelableSearch.Task;
		}
	}

	private async Task OptionClicked(int id)
	{
		Console.WriteLine($"OptionClicked({id})");
		using var db = Contexts.FIABContext.Create(Config);
		var x = await db.Nouns.SingleOrDefaultAsync(n => n.Id == id);
		await ValueChanged.InvokeAsync(x);
		Console.WriteLine($"x: ({x?.Id}) {x?.Name} {x?.ShortDescription}");
		Console.WriteLine($"Value: ({Value?.Id}) {Value?.Name} {Value?.ShortDescription}");
		
		// Hide the options by emptying the list.
		_CancelableSearch!.Showing = false;
		//SearchTerm = Value?.Name + (string.IsNullOrWhiteSpace(Value?.ShortDescription) ? string.Empty : $" [{Value.ShortDescription}]");
		Options = new List<Noun>();
	}

	private async Task ClearValue()
	{
		if(_CancelableSearch != null)
		{
			_CancelableSearch.Showing = false;
		}
		await ValueChanged.InvokeAsync(null);
		SearchTerm = string.Empty;
	}
	#endregion
}